body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;

    justify-content: center;
    align-items: center;

    background-color: #000B58;

    gap: 20px;
}

.main-wrapper {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #003161;
    border: medium black solid;

    gap: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex:1;

    background-color: #FFF4B7;
    border: medium black solid;

    gap: 20px;
    padding: 20px;
}

.dialog-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;

    color: #003161;
    border: thin black solid;
    cursor: pointer;
}