body {
    font-family: var(--body-font);
    background-color: var(--neutral-layer-1);
    color: var(--neutral-foreground-rest);
    padding: 16px;
    padding-top: 8px;
    margin: 0;
}

.panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.control-group {
    display: flex;
    gap: 8px;
    align-items: center;
}