body, html {
    height: 100vh;
    font-family: var(--body-font);
    background-color: var(--neutral-layer-1);
    color: var(--neutral-foreground-rest);
    padding: 16px;
    padding-top: 8px;
    margin: 0;
    box-sizing: border-box;
}

#settingsTabs {
    height: 100%;
}

fluent-tab-panel {
    height: calc(100vh - 60px); /* rough estimate for tabs header */
    overflow-y: auto;
}

#downloadPanel {
    display: flex;
    flex-direction: column;
}

#downloadPanel .panel-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    height: 100%;
}

#downloadFrame {
    flex-grow: 1;
    border: none;
    width: 100%;
    min-height: 500px;
}

.panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.control-group {
    display: flex;
    gap: 8px;
    align-items: center;
}